h1,
h2,
h3,
h4,
h5 {
    color: #0071bc;
}

h2.mc-text-danger,
h3.mc-text-danger {
    color: red;
}


/* Change border radius of icon buttons */

.ui-btn-icon-notext.ui-corner-all {
    -webkit-border-radius: .3125em;
    border-radius: .3125em;
}


/* Change color of jQuery Mobile page headers */

.ui-title {
    color: #fff;
}


/* Center-aligned text */

.mc-text-center {
    text-align: center;
}


/* Top margin for some elements */

.mc-top-margin-1-5 {
    margin-top: 1.5em;
}

#btn-login {
    margin-top: 16px;
    background-color: #0071bc;
    color: #fff;
}

#toolbar {
    background-color: #0071bc;
}

.txt-or {
    text-align: center;
}

#btn-goRegis,
#btn-hapusMenu {
    background-color: red;
    color: #fff;
}


/* registrasi */


/* #txt-namaRegis, #txt-noTelpRegis, #txt-emailRegis, #txt-passwordRegis, #txt-rePasswordRegis {
    padding-top: 16px;
} */

#btn-regis {
    margin-top: 16px;
    background-color: #0071bc;
    color: #fff;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}